.content-1{
    width: 7.02rem;
    margin: 0 auto;
}
/*头部开始*/
header{
    width: 100%;
    height: 0.88rem;
    background: white;
    margin: 0 auto;
    position:fixed;
    top: 0;
    left: 0;
    z-index:2;
}
.content-1 img{
    width:0.92rem;
    height:0.30rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin:auto;
}
.icon-quxiao{
    width: 0.28rem;
    height:0.3rem;
    line-height: 0.88rem;
    float: left;
}
.content-1 ul li{
    width:0.08rem;
    height: 0.08rem;
    background: #333333;
    border-radius: 50%;
    margin-left: 0.06rem;
    line-height: 0.88rem;
    float: right;
    margin-top: 0.4rem;
}
.content-1 ul{
    float: right;
}
/*头部结束*/
.long-picture{
    width: 7.5rem;
    height:2rem;
    margin-top: 0.88rem;
    padding-top: 0.16rem;
    box-sizing: border-box;
}
.long-picture img{
    width: 100%;
    height:1.84rem;
}
.long-big{
    width: 100%;
    height:100%;
    background: #fafafa;
}

.long-1{
    width: 7.02rem;
    height:3.1rem;
    background: #ffffff;
    margin: -1.5rem auto 0;
    border-radius: 0.05rem;
    box-shadow:0.01rem 0.01rem 0.05rem 0.01rem rgba(0,0,0,0.3);
    position: absolute;
    left: 0.24rem;
    top: 3rem;
}
.long-2{
    width: 7.02rem;
    height:4.24rem;
    background:#ffffff;
    margin:2rem auto 0;
    border-radius: 0.05rem;
    box-shadow:0.01rem 0.01rem 0.05rem 0.01rem rgba(0,0,0,0.3);

}
.long-3{
    width: 7.02rem;
    height:2.7rem;
    background: #ffffff;
    margin: 0.3rem auto 0;
    border-radius: 0.05rem;
    box-shadow:0.01rem 0.01rem 0.05rem 0.01rem rgba(0,0,0,0.3);
     overflow: hidden;
}
.long-word{
    font-size: 0.26rem;
    font-family: "Microsoft YaHei";
    margin-top: 0.59rem;
    margin-left: 0.5rem;
}
.long-word-1{
    font-size: 0.18rem;
    font-family: "Microsoft YaHei";
    color: rgba(0,0,0,0.7);
    margin-top: 0.09rem;
    margin-left: 0.5rem;
}
.long-word i{
    color: #ffcb3f;
}
.long-circle{
    width: 0.92rem;
    height: 0.92rem;
    border-radius: 50%;
    float: right;
    margin-right: 0.55rem;
    margin-top: -0.8rem;
}
.long-circle img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.long-biao{
    display: flex;
    margin-top: 0.7rem;
    justify-content:space-around;
    color: black;
}
.long-biao li div{
    text-align: center;
    font-size: 0.24rem;
    font-family: "Microsoft YaHei";
    color: black;
}
.long-biao li {
    text-align: center;
}
.long-biao li i{
    color: #ffda78;
    font-size: 0.35rem;

}

.long-2 ul li {
    font-size: 0.24rem;
    font-family: "Microsoft YaHei";
    margin-left: 0.5rem;
    float: left;
    margin-top: 0.4rem;
    text-align: center;
}
.long-2 .long-2-2{
    margin-left: 1.5rem;
}

.long-2 .long-2-3{
    margin-left: 1.76rem;
}
.long-2 .long-2-4{
    margin-top: 0.5rem;
}
.long-2 .long-2-5{
    margin-left: 1.5rem;
    margin-top: 0.5rem;
}
.long-2 .long-2-6{
    margin-left: 1.9rem;
    margin-top: 0.5rem;
}
.long-2 .long-2-7{
    margin-left: 0.7rem;
    margin-top: 0.5rem;
}
.long-2 ul li i{
    color:#ffda78;
    font-size: 0.35rem;
}

.long-3-1{
    width: 6.8rem;
    height:0.45rem;
    background: white;
    border-bottom:0.01rem solid #f2f2f2;
    box-sizing: border-box;
    margin: 0.5rem auto 0;
}
.long-3-1 .icon-guanlian{
    margin-left: 0.5rem;
    color: #ffda78;
}
.long-3-1 span{
    font-size: 0.24rem;
    font-family: "Microsoft YaHei";
    margin-left: 0.13rem;
}
.long-3-1 .icon-fanhui{
    margin-left: 4.25rem;
    font-size: 0.25rem;
}
.long-3-2{
    width: 6.8rem;
    height:0.45rem;
    background: white;
    border-bottom:0.01rem solid #f2f2f2;
    box-sizing: border-box;
    margin: 0.5rem auto 0;
}
.long-3-2 .icon-guanyuwomen{
    margin-left: 0.5rem;
    color: #ffda78;
}
.long-3-2 span{
    font-size: 0.24rem;
    font-family: "Microsoft YaHei";
    margin-left: 0.13rem;
}
.long-3-2 .icon-fanhui{
    margin-left: 4.25rem;
    font-size: 0.25rem;
}
/*tab栏开始*/
.bottom{
    width:7.5rem;
    height: 0.98rem;
}
.tab{
    width: 7.5rem;
    height: 0.98rem;
    background:#fafafa;
    display: flex;
    justify-content:space-around;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    align-items:center;
    border-top:0.01rem solid #f2f2f2;
    box-sizing: border-box;
}
.tab li div{
    font-size:0.2rem;
}
.tab a:nth-child(4){
    color:#fccb3f;
}
.tab li{
    font-size: 0.25rem;
}
.tab a:nth-child(2){
    color: black;
}
.tab a:nth-child(3){
    color: black;
}
.tab a:nth-child(1){
    color: black;
}
/*tab栏结束*/

